$fa-font-path: "FontAwesome/webfonts";
@import "FontAwesome/scss/fontawesome";
@import "FontAwesome/scss/solid";
@import "FontAwesome/scss/brands";
@import "FontAwesome/scss/regular";

@font-face {
  font-family: 'Roboto';
  src: url('Fonts/Roboto/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Roboto" ;
}