.terraform
terraform.tfvars
terraform/config/*
terraform/terraform.tfstate*
terraform/.terraform
terraform/.terraform.tfstate.lock.info
terraform/credentials/*
web/js/node_modules
web/js/package-lock.json
web/js/public/index.js
.idea
credentials/*