.terraform
terraform.tfvars
terraform/config/*
terraform/terraform.tfstate*
terraform/.terraform
terraform/.terraform.tfstate.lock.info
terraform/credentials/*
web/.idea
web/node_modules
web/package-lock.json
web/public/index.js
.idea
credentials/*